{% extends '_layout/base.html' %}

    
{% block container %}
    {% for entry in craft.entries.section('aboutUs') %}
        <h1>FR: {{ entry.pageTitle }}</h1>

        {% for block in entry.testMatrix %}
           <p>Hobby: {{ block.hobby }}</p>
        {% endfor %}

    {% endfor %}
{% endblock%}
