{% extends '_layout/base.html' %}

    
{% block container %}
    {% for entry in craft.entries.section('aboutUs') %}
        <h1>EN: {{ entry.pageTitle }}</h1>
    {% endfor %}

    {% for block in entry.testMatrix %}
        <p>Hobby: {{ block.hobby }}</p>
    {% endfor %}
{% endblock%}
